<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1">
	<parameter name="url" value="https://mail.google.com" />
	<parameter name="dbServer" value="" />
	<parameter name="passwordToDataBase" value="" />	
	<parameter name="dbName" value="" />	
	<test name="Regression1">
		<classes>
				  <class name="core.tests.com.WebServiceTest"/>			 
                 
                 
			
		</classes>
	</test>
</suite>
