#general
*.lock
*.DS_Store
*.swp
*.out

#python https://github.com/github/gitignore/blob/master/Python.gitignore
__pycache__/
*.py[cod]
*.mo
*.pot
*.so
.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

#java https://github.com/github/gitignore/blob/master/Java.gitignore
*.class
*.jar
*.war
*.ear
hs_err_pid*
